
# Imports ----

import("BiocGenerics")
import("S4Vectors")
import("IRanges")
import("GenomicRanges")
import("SummarizedExperiment")
import("methods")

importFrom(
    "BiocParallel",
    "SerialParam", "MulticoreParam", "SnowParam", "registered")
importMethodsFrom(
    "BiocParallel",
    "bpmapply", "bplapply")
import("Biostrings")

importFrom(
    "ensembldb",
    "GenenameFilter")
importMethodsFrom(
    "ensembldb",
    "genes")

importMethodsFrom(
    "GenomeInfoDb",
    "seqnames", "seqinfo", "seqlevels")

importFrom(
    "Rsamtools",
    "TabixFile")
importMethodsFrom(
    "Rsamtools",
    "path")

importFrom(
    "stats",
    "as.formula"
)

# When Source and Version will be possible to add to VCF INFO fields
#importFrom(
#    "utils",
#    "packageVersion"
#)
importFrom(
    "utils",
    "read.table", "str")

importClassesFrom(
    "VariantAnnotation",
    "VCF", "VCFHeader")
importMethodsFrom(
    "VariantAnnotation",
    "scanVcfHeader", "ScanVcfParam",
    "readVcf", "geno", "samples",
    "expand",
    "fixed", "fixed<-",
    "info", "info<-",
    "header", "header<-"
)
importFrom(
    "VariantAnnotation",
    "vcfSamples<-", "vcfWhich<-", "vcfFixed<-", "vcfInfo<-", "vcfGeno<-"
)

importFrom("ensemblVEP", "parseCSQToGRanges")

importFrom(
    "ggplot2",
    "ggplot", "aes_string", "facet_wrap",
    "geom_bar", "geom_density", "geom_dotplot",
    "ylab",
    "theme", "element_text", "rel",
    "scale_x_discrete", "scale_colour_discrete", "scale_fill_discrete")

#import(ggbio)

importFrom(
    "reshape2",
    "melt", "dcast")

#exportPattern("^[[:alpha:]]+")

# ensembldbFunctions.R ----

export("getEdb", "EnsDbFilter")

# runShinyApp.R ----

export("tSVE")

# Regular functions ----

export("chr2file")


# S4 ----

exportMethods(
    "countGenos", "addCountGenos",

    "addFrequencies", "addOverallFrequencies", "addPhenoLevelFrequencies",

    "tabulateVepByPhenotype", "tabulateVepInPhenoLevel",
    "densityVepByPhenotype", "densityVepInPhenoLevel",
    "vepInPhenoLevel", "variantsInSamples",

    "dropInfo",

    "genos", "genos<-",
    "ranges", "ranges<-",
    "aaf", "aaf<-",
    "maf", "maf<-",
    "hRef", "hRef<-",
    "het", "het<-",
    "hAlt", "hAlt<-",
    "carrier", "carrier<-",
    "vep", "vep<-",
    "bp","bp<-"
)

#exportClassPattern("^.*$")
exportClasses(
    "TVTBparam",
    "VcfFixedRules", "VcfInfoRules", "VcfVepRules", "VcfFilterRules"
)

# Constructors ----

# Defined by initialize
export("VcfFixedRules", "VcfInfoRules", "VcfVepRules", "VcfFilterRules")

# S4method wrapper
exportMethods(
    "TVTBparam"
)

# Re-export useful methods defined in other packages ----

exportMethods(
    # Biostrings
    "type",

    # GenomicRanges
    "mcols",

    # Base
    "c",

    # S4Vectors
    "eval", "evalSeparately", "subsetByFilter", "active", "active<-",

    # SummarizedExperiment
    "colData", "colData<-",

    # VariantAnnotation
    "readVcf", "ScanVcfParam",
    "header", "header<-", "geno", "fixed", "info", "info<-",

    # BiocGenerics
    "append"
)
